@font-face {
    font-family: 'Source Sans Pro';
    src: url('fonts/SourceSansPro-Regular.ttf');
}

html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    font-family: 'Source Sans Pro', sans-serif;
    background-color: #2d2d2d;
}

body {
    width: 100%;
    height: 80%;
    margin: 0;
    padding: 0;
}

footer {
    position: fixed;
    width: 100%;
    bottom: 0;
    height: 3em;
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    align-items: center;
    font-size: .8em;
}

a {
    text-decoration: none;
    color: inherit;
}

.row {
    width: 100%;
    display: flex;
    flex-direction: row;
}

.col {
    display: flex;
    flex-direction: column;
}

.start {
    justify-content: flex-start;
}

.center {
    justify-content: center;
}

.end {
    justify-content: flex-end;
}

.green-text {
    color: #81C14B;
}

.gray-text {
    color: #BDBDBD;
}

.pale-text {
    color: #666;
}

.header {
    width: 100%;
    height: 2.3em;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    border-top: 4px solid #81C14B;
    border-bottom: 1px solid #1F1F1F;
    font-size: 2em;
}

.subtitle {
    font-size: .5em;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}


.search-input {
    height: 2em;
    border: 2px solid #81C14B;
    border-radius: 3px;
    outline: none;
}

.search-button {
    height: 2.2em;
    border: 2px solid #81C14B;
    border-radius: 3px;
    background-color: #81C14B;
    color: #FFF;
    outline: none;
}

.search-button:hover {
    background-color: #5C8E31;
}

.entry {
    width: 55%;
}

.entry-title {
    font-size: 1.2em;
    font-weight: bold;
    margin-bottom: .6em;
}

.entry-content {
    font-size: 1em;
    margin-bottom: .8em;
    max-height: 15em;
    overflow-y: scroll;
}

.favs {
    margin-bottom: .2em;
}

.fav-count {
    font-size: 1em;
    margin-left: .2em;
}

.author {
    font-size: .9em;
}

.date {
    font-size: .9em;
}

.negative-btn {
    border: 2px solid #C0392B;
    border-radius: 3px;
    background-color: #E74C3C;
    color: #FFF;
    outline: none;
}

.negative-btn:hover {
    background-color: #C0392B;
    cursor: pointer;
}

.positive-btn {
    border: 2px solid #5C8E31;
    border-radius: 3px;
    background-color: #81C14B;
    color: #FFF;
    outline: none;
}

.positive-btn:hover {
    background-color: #5C8E31;
    cursor: pointer;
}

.neutral-btn {
    margin-left: 3em;
    border: 2px solid #9E9191;
    border-radius: 3px;
    background-color: #B9AFAF;
    color: #FFF;
    outline: none;
}

.neutral-btn:hover {
    background-color: #9E9191;
    cursor: pointer;
}

.github-logo {
    width: fit-content;
    height: fit-content;
}