<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <link rel="stylesheet" href="/static/style.css">
  <title>limoni</title>
</head>

<body>
  {{ template "header" . }}
  <div class="container col center">
    <div class="search-container">
      <form class="search-suser" method="post">
        <input class="search-input" type="text" name="nick" placeholder="suser ara..."></input>
        <button class="search-button" type="submit">başla</button>
      </form>
    </div>
  </div>
  {{ template "footer" .}}
</body>

</html>